<ul>
  <li><b><u>country:</u></b> visitor country based on the IP address.</li>
  <li><b><u>age:</u></b> visitor age. Inferred from 3rd party providers</li>
  <li><b><u>new_user:</u></b> whether the visitor has visited the site before, based on cookies, or if they are brand new to the site.</li>
  <li><b><u>source:</u></b> Marketing channel source.
      <ul>
      <li><b>Ads:</b> Came to the site by clicking on an advertisement</li>
      <li><b>Seo:</b> Came to the site by clicking on search results</li>
      <li><b>Direct:</b> Came to the site by directly typing the URL on the browser</li>
    </ul>
  </li>
  <li><b><u>total_pages_visited:</u></b> Number of total pages visited during the session. This can be seen as a proxy for time spent on-site and engagement</li>
  <li><b><u>converted:</u></b> This is our label. 1 means they converted, i.e. created a new account, within the session, 0 means they left without doing so.</li>
</ul>

In [1]:
import pandas as pd # Data Manupilation
import numpy as np # Data Manupilation
from collections import Counter
import operator

import seaborn as sns

import plotly.express as px # Data Visualization
from plotly.offline import plot
import plotly.graph_objs as go
from plotly.subplots import make_subplots


pd.set_option('float_format', '{:f}'.format)

In [2]:
# The provided dataset
df = pd.read_csv("conversion_rates.csv")

In [3]:
df.head()

,Unnamed: 0,session_id,country,age,new_user,source,total_pages_visited,converted
0,0,1,UK,25,1,Ads,1,0
1,1,2,US,23,1,Seo,5,0
2,2,3,US,28,1,Seo,4,0
3,3,4,China,39,1,Seo,5,0
4,4,5,US,30,1,Seo,6,0